	header {
		text-align: center;
		background-size: cover;
		background-color: white;
		margin: auto;
		width: 850px;
		padding: 30px 0px 70px 0px;
	}
	body {
		background-color: #cc9966;
		font-size: 16px;
		font-family: Verdana, Geneva, Arial, sans-serif;
		margin: 0 auto;
		padding: 0;
	}
	a, ul, li {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		color: black;
		background: transparent;
		text-decoration: none;
	}
	nav {
		width: 100%;
		margin: 20px 0;
	}
	nav ul {
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0; 
	}
	nav ul li {
		width: 25%;
		float: left;
		border: 2px;
		border-color: black;
	}
	nav ul li:nth-child(n+1):not(:nth-last-child(-n+4)) a {
		text-align: center;
		padding: 8px 0;
		display: block;
		width: 100%;
		background: #41737e;
		background: -moz-linear-gradient(top,
			#41737e 0%, #67949F 100%);
		background: -webkit-gradient(linear, 
			left top, left bottom, color-stop(0%,#41737e),
			color-stop(100%,#67949F));
	}
	nav ul li:nth-child(n+5):not(:nth-last-child(-n)) a {
		text-align: center;
		padding: 10px 0;
		display: block;
		width: 100%;
		background: #41737e;
		background: -moz-linear-gradient(top,
			#67949F 0%, #8cb5bf 100%);
		background: -webkit-gradient(linear, 
			left top, left bottom, color-stop(0%,#67949F),
			color-stop(100%,#8cb5bf));
	}
	nav ul li:nth-child(n+1) a:hover {
		background: #41737e; 
		background: -moz-linear-gradient(top,  
			#41737e 0%, #41737e 100%);
		background: -webkit-gradient(linear, left top, left bottom, 
			color-stop(0%,#41737e), 
			color-stop(100%,#41737e)); 
	} 