body {
	background-color:#CC9966;
	margin: 15px 0 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 80%;
}
h1 {
	color: #FFF;
	font-size: 20px;
	margin: 0;
}
#wrapper {
	background-color: #fff;
	width: 960px; 
	margin: 0 auto 0 auto;
}
#header {
	height: 96px;

}
#header-L {
	width: 380px; 
	float:left;
	padding: 3px 0 0 25px;
}
#header-R {
	width: 380px; 
	float:right;
	padding: 8px 25px 0 0;
	text-align: right;
	color: #9c3334;
}
#address {
	background: #CC9966;
	padding: 4px 0 0 30px;
}
#sidebar {
	width: 160px; 
	padding: 10px 5px 0 5px; 
	float:left;
	font-weight:bold;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navbar {
	width: 150px;
	border: 0px solid #ccc;
	margin: 10px;

}
#navbar li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 24px;
	text-decoration: none;
}
#navbar li a:link, #navbar li a:visited {
	color: #FFF;
	display: block;
	background: #9c6333;
	padding: 8px 0 0 10px;
	margin-top: 4px;
	text-shadow: 1px 1px #33337d ;
	border: black 1px;

}
#navbar li a:hover, #navbar li #current, #navbar li a:active {
	color: #56aeae;
	background: #ce9566;
	padding: 8px 0 0 10px;
	margin-top: 4px;
}
#content-holder {
}

#tagline {
	height: 35px;
}
.spacer {
	clear:both;
	height: 15px;
}
.clear-both {
	clear:both
}
#footer {
	clear: both; 
	height: 150px;
}
#sub-footer {
	width: 960px; 
	background-color: #CC9966;
	margin: 0 auto 0 auto;
	color: black;
	text-align:center;
}
.auto-style1 {
	color: #FFFFFF;
}
.auto-style2 {
	margin-top: 0px;
}
.style1 {
	color: #000000;
	font-size: 16px;
	font-style: italic;
}
.style2 {
	font-size: 15px;
	font-weight:bold;
}
